nav ul li {
    display: inline-block; 
    border:  3px dotted #000;
    text-decoration: underline;
    text-align: center;
    width: 150px;
    list-style-type: none;
    padding: 20px 20px 20px 20px;
    margin-top: 0;  
    margin-left: 10px;
    position: relative; 
    }


nav ul>li ul {
    position: absolute;
    background-color: #F0F8FF;
    margin-top: 10%;
    margin-left: -39%;
    display: none;
    background-color:#E8CEBF;
    }


nav>ul>li:hover>ul{
    display: block;
    }

label.nav {margin: 0 40px 0 0;
font-size: 26px;
line-height: 70px;
display: none;
width:26px;
float: right; 
}

#toggle {display: none;}

/* mobile NAV*/
@media only screen and (max-width:640px) {
    label.nav {
        display:block;
        cursor:pointer; /* cursor change*/
    }

    nav ul{
        text-align: center;
        width: 100px;
        display:none;
    }
    
    nav ul li a{
        display: block;
        border:  3px dotted #000;
        margin:0;
    }
    
    #toggle:checked + ul {display:block;}

    }